body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to right, rgb(0, 217, 255), rgb(0, 123, 255));
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form-container {
    margin-top: 150px;
    padding: 15px;
    background-color: white;
    border-radius: 5px;

    width: 600px;
}
label {
    display: block;
    margin-bottom: 5px;
}