body{
    background-image:linear-gradient(to right, #00b8ff, rgb(0, 81, 255));
}

.navbar{
    background-color: white;
}

.below-navbar{
    display: flex;
}

h2 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;

    background-color: #f8f8f8;
    border-radius: 5px;
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px
}

h3{
    margin-top: -10px;
    margin-bottom: -10px;
}

.form-label{
    margin-bottom: 0;
    font-size: 18pt;
    font-weight: 500;
}

.form-check-label{
    font-size: 14pt;
    font-weight: 400;
}

.form-container{
    width: 315px;
    height: 500px;
    padding: 30px;
    margin: 20px;
    background-color: white;
    border-radius: 15px;
}

.form-group {
    background-color: #f8f8f8;
    padding: 15px;
    border-radius: 10px;
}

.form-select{
    margin-top: 5px;
}

.flights-container{
    display: flex;
    flex-direction: column;
}

.flight-data{
    margin: 35px;
    margin-bottom: -10px;
    height: 200px;
    width: 65vw;
    background-color: #f2efef;
    border-radius: 10px;
}